$buttonSize: 40px;
$buttonFontSize: 32px;
$textButtonFontSize: 12px;
$buttonLineHeight: 45px;
$buttonColor: #3e8acc;

$icons: 'Draw Tool Icons', Arial, sans-serif;
$text: Arial, sans-serif;

@font-face {
  font-family: 'Draw Tool Icons';
  src: url('./fonts/draw-tool-icons.woff') format('woff'),    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./fonts/draw-tool-icons.ttf')  format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3-5 */
}

.dt-container {
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  .dt-canvas-container {
    vertical-align: top; // not needed but why not
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0;
  }

  .dt-tools {
    display: inline-block;
    vertical-align: top;
    width: $buttonSize;
    margin: 0;
    position: relative;
  }

  .dt-btn {
    z-index: 1000;
    display: block;
    overflow: hidden;
    position: relative;
    text-indent: 0;
    white-space: nowrap;
    font-family: $icons;
    font-size: $buttonFontSize;
    line-height: $buttonLineHeight;
    height: $buttonSize;
    width: $buttonSize;
    color: #fff;
    background: $buttonColor;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:hover {
      background: #3778AF;
      cursor: pointer;
    }

    &.dt-active {
      background: #245d8e;
    }

    &.dt-locked {
      background: #839CB1;
      cursor: default;
    }

    // Text buttons:
    &.dt-text-btn {
      font-size: $textButtonFontSize;
      font-family: $text;
      width: auto;
      padding: 0 5px;
    }

    &.dt-img-btn {
      line-height: normal;
      span {
        // To make rotation work in all browsers (used during waiting for image load).
        display: inline-block;
      }
      img {
        display: inline-block;
        max-width: 85%;
        max-height: 85%;
        vertical-align: middle;
      }
    }

    // Stroke and fill color buttons:
    &.dt-stroke-color:before, &.dt-fill-color:before {
      content: '';
      background: #fff;
      position: absolute;
      top: 8px;
      left: 8px;
      width: 24px;
      height: 24px;
    }

    &.dt-stroke-color {
      .dt-inner1 { /* inset/overlay white box with black border */
        background: #fff;
        // border: solid 1px #1c68aa;
        position: absolute;
        height: 12px;
        width: 12px;
        left: 5px;
        top: 5px;
      }
      .dt-inner2 { /* inset/overlay blue box with no border */
        background: #3e8acc;
        border: none;
        position: absolute;
        height: 10px;
        width: 10px;
        left: 6px;
        top: 6px;
      }
    }

    .dt-color {
      background: #fff;
      // border: solid 1px #1c68aa;
      overflow: hidden;
      position: absolute;
      top: 9px;
      left: 9px;
      width: 22px;
      height: 22px;

      &.dt-no-color:after {
        content: 'L';
        color: #e66665;
        position: absolute;
        left: -12px;
        bottom: -14px;
        font-size: 50px;
      }
    }

    // Color buttons:
    &.dt-transparent {
      background: #f4f4f4;
      &:after {
        content: 'L';
        color: #e66665;
        position: absolute;
        left: -32px;
        bottom: -16px;
        font-size: 100px;
      }
    }

    // Stroke width button:
    .dt-line-width-icon {
      height: 26px;
      background: #fff;
      margin: 6px auto;

      &.dt-no-stroke {
        width: 1px;
        &:after {
          content: 'L';
          color: #e66665;
          position: absolute;
          left: 5px;
          top: 2px;
        }
      }
    }

    // Undo and redo buttons, send to front and back buttons:
    &.dt-send-to, &.dt-undo-redo {
      // These icons are placed somehow lower, modify line-height to move them up.
      line-height: 41px;
    }
  }

  .dt-expand {
    position: relative;
    &:after {
      content: 't';
      font-family: $icons;
      font-size: $buttonFontSize;
      position: absolute;
      bottom: -21px;
      right: -11px;
    }
  }

  .dt-palette {
    &.dt-horizontal {
      .dt-btn {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &.dt-vertical {
      .dt-btn {
        display: block;
      }
    }
  }

  .dt-spin {
    -webkit-animation: dt-spin 2s infinite linear;
    animation: dt-spin 2s infinite linear;
  }
}

@-webkit-keyframes dt-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes dt-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}